---
import CallToAction from "./CallToAction.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear}. Made with ❤️ by PT. Generasi Jagoan Data
      </p>
    </div>
  </section>
</footer>
